/node_modules
/public/build
/.idea
/.vscode
/vendor
.phpunit.result.cache
.php-cs-fixer.cache
.env
.env.backup
.env.production
.env.local
/storage/*.key
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
